.Navbar {
    background-color: rgb(54, 62, 70);
    position: sticky;
}

.Navbar ul {
    margin: 0;
    padding-left: 10px;
    height: 60px;
    display: flex;
    align-items: center;
}

.links li, h3 {
    list-style-type: none;
    margin: 8px;
}

.Navbar a:link {
    color: antiquewhite;
    text-decoration: none;
}

.Navbar a:visited {
    color: antiquewhite;
    text-decoration: none;
}

.Navbar a:hover {
    color: antiquewhite;
    text-decoration: none;
}

.Navbar a:active {
    color: antiquewhite;
    text-decoration: none;
}
