.inner-contact {
    margin: auto;
    display: flex;
    height: 700px;
    width: clamp(400px, 90vw, 1800px);
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}


.Contact h1 {
    margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
    .inner-contact {
        flex-direction: column;
    }

    .contact-map {
        height: 500px;
    }
}

.contact-map,
.contact-form {
    flex: 50%;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-txt,
.form-txtarea,
.form-submit {
    color: black;
    background-color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    border-style: none;
}

.form-txt,
.form-txtarea {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
}

.form-txt {
    height: 40px;
}

.form-txtarea {
    height: 400px;
}

.form-submit {
    width: 200px;
    height: 75px;
}

.mymap {
    border-radius: 5px;
}
