.About {
    display: flex;
    align-items: center;
}

.About p {
    font-size: clamp(18px, 0.462vw + 15.231px, 24px);
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 50%;
}

.intro-p {
    display: inline-block;
    text-align: justify;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.intro-img {
    flex: 50%;
}

.programmer {
    height: auto;
    width: clamp(200px, 45vw, 850px);
}

@media screen and (max-width: 600px) {
    .About {
        flex-direction: column-reverse;
    }

    .intro {
        height: px;
    }
}

@media screen and (min-width: 601px) {
    .intro {
        height: 950px;
    }
}
