.Projects h1 {
    margin-bottom: 50px;
}

.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.project-holder {
    margin: auto;
    width: 100%;
    display: grid;
    gap: 30px;
}

.project {
    margin: 0px 10px 10px 0px;
}

@media screen and (min-width: 801px) {
    .project-holder {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (max-width: 800px) {
    .project-holder {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
}
