.Project {
    overflow: hidden;
    width: clamp(300px, 40vw, 600px);
    height: clamp(240px, 24vw, 360px);
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
}

.Project h2 {
}

.Project h3 {
    color: rgb(114, 114, 224);
}

.project-card {
    width: clamp(300px, 40vw, 600px);
    height: clamp(240px, 24vw, 360px);
    border-radius: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.hover-text {
    width: 100%;
    top: 0px;
    left: 0px;
}

.project-card:hover {
    opacity: .1;
}
