.Project {
    width: clamp(100px, 40vw, 600px);
    height: clamp(60px, 24vw, 360px);
    overflow: hidden;
    margin: auto;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
}

.Project h2 {
    padding-top: 75px;
}

.Project h3 {
    color: rgb(114, 114, 224);
}

.project-card {
    border-radius: 5px;
    width: 100%;
    position: relative;
    opacity: 1;
    transition: all .2s ease-in-out;
    margin-top: -250px;
}

.hover-text {
    width: 100%;
    top: 0px;
    left: 0px;
}

.project-card:hover {
    opacity: .1;
}
